<!DOCTYPE html>
<html lang="en">
<head>

<title>Tech Bloggers</title>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="views/css/bootstrap.min.css">
<link rel="stylesheet" href="views/css/font-awesome.min.css">
<link rel="stylesheet" href="views/css/magnific-popup.css">

<link rel="stylesheet" href="views/css/owl.tssheme.css">
<link rel="stylesheet" href="views/css/owl.carousel.css">
<!-- MAIN CSS -->
<link rel="stylesheet" href="views/css/tooplate-style.css">

</head>
<body>
<form action ="/Display" method="GET">

<!-- MENU -->
<div class="navbar custom-navbar navbar-fixed-top" role="navigation">
     <div class="container">

          <!-- NAVBAR HEADER -->
          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <!-- lOGO -->
               <a href="/views/MainScreen.ejs" class="navbar-brand"><img src="/views/images/TB.png" width="100px" height="100px"></a>
          </div>

          <!-- MENU LINKS -->
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li><a href="/MainScreen" class="smoothScroll">Home</a></li>
                    <li><a href="#project" class="smoothScroll">Read Blog</a></li>
               </ul>
          </div>

     </div>
</div>


<!-- HOME -->
<section id="home" class="parallax-section">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-8 col-sm-12">
                    <div class="home-text">
                         <h1>TECH BLOGGERS</h1>
                         <p>Here You can read the Blogs related to the Current Technology.</p>
                         <ul class="section-btn">
                              <a href="#project" class="smoothScroll"><span data-hover="Read Blog">Read Blog</span></a>
                         </ul>
                         
                    </div>
               </div>
          </div>
     </div>

     <!-- Video -->
     <video >
         <!-- <source src="/views/videos/video.mp4" type="video/mp4">-->
          Your browser does not support the video tag.
     </video>
</section>

<section id="project" class="parallax-section">
     <br /><br /><br /><br /><br /><br />
     <div class="container">
          <div class="row">

               <div class="col-md-6 col-sm-6">
                    <!-- PROJECT I TEM -->
                    <div class="project-item">
                         <a href="/Blogs" target="_blank" >
                              <img src="/views/images/travel.jpg" class="img-responsive" alt="" style="border-radius: 2px;">
                              <h1><b> Travel  </b></h1>
                              <div class="project-overlay">
                                   <div class="project-info">
                                        <h1><b>Trips</b></h1>
                                        <h3>Click to Open Details!</h3>
                                   </div>
                              </div>
                         </a>
                    </div>
               </div>

               <div class="col-md-6 col-sm-6">
                    <!-- PROJECT ITEM -->
                    <div class="project-item">
                         <a href="/Blogs" target="_blank">
                              <img src="/views/images/food.jpg" class="img-responsive" alt="">
                              <h1><b>Food</b></h1>
                              <div class="project-overlay">
                                   <div class="project-info">
                                        <h1><b>Eat everytime</b></h1>
                                        <h3>Click to Open Details!</h3>
                                        
                                   </div>
                              </div>
                         </a>
                    </div>
               </div>       
          </div>
     </div>

</section>


<!-- FOOTER -->
<footer style="background-color: lightgray;">
     <div class="container">
          <div class="row">

               <div class="col-md-5 col-sm-6" style="text-align: center;">
                    <img src="/views/images/TB.png" width="50%" height="50%">
                    <h2><b>TECH BLOGGERS</b></h2>
                    <p><b>Here You can read the Blogs related to the Current Technology.</b></p>
               </div>

               <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                    	<h2><b>Keep in Touch</b></h2>
                         <p><a href="tel:010-090-0780"><b>0314-17147714</b></a></p>
                         <p><a href="mailto:info@company.com"><b>TechBlogger@company.com</b></a></p>
                         <p><a href=""><b>Bangla # 209 and 313, FAST NUCES HOSTEL, Loonaywala Stop</b></a></p>
                </div>
               </div>

               <div class="col-md-3 col-sm-12">
               		
                    <h2><b>About Us</b></h2>
                    <p><b>19F-0911____Tayyab Shahid<br>19F-0976____Shayan Ilyas<br>19F-0969____Suneel Pirkash</b></p>
                                       
               </div>
          </div>
     </div>
</footer>

<!-- SCRIPTS -->
<script src="/views/js/jquery.js"></script>
<script src="/views/js/bootstrap.min.js"></script>
<script src="/views/js/jquery.parallax.js"></script>
<script src="/views/js/owl.carousel.min.js"></script>
<script src="/views/js/jquery.magnific-popup.min.js"></script>
<script src="/views/js/magnific-popup-options.js"></script>
<script src="/views/js/modernizr.custom.js"></script>
<script src="/views/js/smoothscroll.js"></script>
<script src="/views/js/main.js"></script>
<script src="/views/js/custom.js"></script>
</form>
</body>
</html>