<!DOCTYPE html>
<html lang="en">
<head>

<title>Tech Bloggers</title>


<!--
Template 2099 Scenic

http://www.tooplate.com/view/2099-scenic
-->


<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<link rel="stylesheet" href="views/css/bootstrap.min.css">
<link rel="stylesheet" href="views/css/font-awesome.min.css">
<link rel="stylesheet" href="views/css/magnific-popup.css">

<link rel="stylesheet" href="views/css/owl.theme.css">
<link rel="stylesheet" href="views/css/owl.carousel.css">

<!-- MAIN CSS -->
<link rel="stylesheet" href="views/css/tooplate-style.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>

<!-- Recaptcha Link -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<!-- End Link -->

<!--Chat Box-->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
     var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
     (function(){
     var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
     s1.async=true;
     s1.src='https://embed.tawk.to/627cf15eb0d10b6f3e71dfa4/1g2s0tn6j';
     s1.charset='UTF-8';
     s1.setAttribute('crossorigin','*');
     s0.parentNode.insertBefore(s1,s0);
     })();
     </script>
     <!--End of Tawk.to Script-->
     
     <!--Start of Pie Chart-->
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
     <script type="text/javascript">
       google.charts.load('current', {'packages':['corechart']});
       google.charts.setOnLoadCallback(drawChart);
 
       function drawChart() {
 
         var data = google.visualization.arrayToDataTable([
           ['Task', 'Hours per Day'],
           ['Smart phones Blogs',     11],
           ['Travel Blogs',      2],
           ['Music Blogs',  2],
           ['Books and Writing Blogs', 2],
           ['Movie Blogs',    7]
         ]);
 
         var options = {
           title: 'Per-day Blogs'
         };
 
         var chart = new google.visualization.PieChart(document.getElementById('piechart'));
 
         chart.draw(data, options);
       }
     </script>
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
     <script type="text/javascript">
       google.charts.load("current", {packages:["corechart"]});
       google.charts.setOnLoadCallback(drawChart);
       function drawChart() {
         var data = google.visualization.arrayToDataTable([
           ['Blogs', 'Length'],
           ['Travel Blogs',      4],
           ['Music Blogs',  2],
           ['Smart phones Blogs',     11],
           ['Books and Writing Blogs', 5],
           ['Movie Blogs',    7] 
          ]);
 
         var options = {
           title: 'Per-day Blogs',
           legend: { position: 'none' },
         };
 
         var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
         chart.draw(data, options);
       }
     </script>
     <!--End of Pie Chart-->
  
</head>
<body>

<!-- MENU -->
<div class="navbar custom-navbar navbar-fixed-top" role="navigation">
     <div class="container">

          <!-- NAVBAR HEADER -->
          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <!-- lOGO -->
               <a href="/views/MainScreen.ejs" class="navbar-brand"><img src="views/images/TB.png" width="100px"  height="100px"></a>
          </div>

          <!-- MENU LINKS -->
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home" class="smoothScroll">Home</a></li>
                    <li><a href="#project" class="smoothScroll">Read Blogs</a></li>
                    <li><a href="#about" class="smoothScroll">Write Blogs</a></li>
                    <li><a href="#team" class="smoothScroll">About Us</a></li>  
                    <li><a href="#contact" class="smoothScroll">Contact Us</a></li>
                    <li><a href="/Login" class="smoothScroll">Login Now</a></li>
                    <li><a href="/profile" class="smoothScroll">Profile</a></li>
                    
               </ul>
          </div>
     </div>
</div>


<!-- HOME -->
<section id="home" class="parallax-section">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-8 col-sm-12">
                    <div class="home-text">
                         <h1>TECH BLOGGERS</h1>
                         <p>Here You can read the Blogs related to the Current Technology.</p>
                         <ul class="section-btn">
                              <a href="#project" class="smoothScroll"><span data-hover="Read Blogs">Read Blogs</span></a>
                         </ul>
                    </div>
               </div>

          </div>
     </div>

     <!-- Video -->
     <video controls autoplay loop muted>
          <source src="/views/videos/video.mp4" type="video/mp4">
          Your browser does not support the video tag.
     </video>
</section>


<!-- PROJECT -->
<section id="project" class="parallax-section">
     <br /><br /><br /><br /><br /><br />
     <div class="container">
          <div class="row">

               <div class="col-md-6 col-sm-6">
                    <!-- PROJECT I TEM -->
                    <div class="project-item">
                         <a href="/Blogs" target="_blank" >
                              <img src="/views/images/imac.png" class="img-responsive" alt="" style="border-radius: 2px;">
                              <h1><b>I-MAC</b></h1>
                              <div class="project-overlay">
                                   <div class="project-info">
                                        <h1><b>I-MAC</b></h1>
                                        <h3>Click to Open Details!</h3>
                                   </div>
                              </div>
                         </a>
                    </div>
               </div>

               <div class="col-md-6 col-sm-6">
                    <!-- PROJECT ITEM -->
                    <div class="project-item">
                         <a href="/Blogs" target="_blank">
                              <img src="/views/images/motherboards.png" class="img-responsive" alt="">
                              <h1><b>Gaming board</b></h1>
                              <div class="project-overlay">
                                   <div class="project-info">
                                        <h1><b>Gaming Motherboard</b></h1>
                                        <h3>Click to Open Details!</h3>
                                   </div>
                              </div>
                         </a>
                    </div>
               </div>

               <div class="col-md-6 col-sm-6">
                    <!-- PROJECT ITEM -->
                    <div class="project-item">
                         <a href="/Blogs" target="_blank">
                              <img src="/views/images/Gaming-PC.png" class="img-responsive" alt="">
                              <h1><b>Gaming PC</b></h1>
                              <div class="project-overlay">
                                   <div class="project-info">
                                        <h1><b>Gaming PC</b></h1>
                                        <h3>Click to Open Details!</h3>
                                   </div>
                              </div>
                         </a>
                    </div>
               </div>

               <div class="col-md-6 col-sm-6">
                    <!-- PROJECT ITEM -->
                    <div class="project-item">
                         <a href="/Blogs" target="_blank">
                              <img src="/views/images/speakers.png" class="img-responsive" alt="">
                              <h1><b>Speaker</b></h1>
                              <div class="project-overlay">
                                   <div class="project-info">
                                        <h1><b>Speaker</b></h1>
                                        <h3>Click to Open Details!</h3>
                                   </div>
                              </div>
                         </a>                         
                    </div>
                    <div class="row">
                         <a href="/display"> View all </a>     
                      </div>
               </div>              
          </div>
     </div>
</section>


<!-- ABOUT -->
<section id="about" class="parallax-section">
     <div class="container">
          <div class="row">
               <div id="piechart" class="PieChart" ></div>
               <div id="chart_div" class="HistogramChart"></div>
               <div class="col-md-offset-3 col-md-6 col-sm-12">
                    
                    
                    <div class="section-title">
                        
                  
                         <h1>Write Blogs</h1>
                    </div>
               </div>


               <div class="clearfix"></div>

               <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <!-- Add Blogs FORM HERE -->
                    
                    <form id="contact-form" action="/Mainscreen" method="POST" role="form" enctype="multipart/form-data">

                         <div class="col-md-6 col-sm-6">
                              <input type="text" class="form-control" id="blog_name" name="blog_name" placeholder="Name">
                         </div>

                         <div class="col-md-6 col-sm-6">
                              <input type="url" class="form-control" id="blog_url" name="blog_url" placeholder="URL of Product">
                         </div>

                         <div class="col-md-12 col-sm-12">
                              <input type="email" class="form-control" id="blog_email" name="blog_email" placeholder="E-Mail">
                              <input type="text" class="form-control" id="blog_subject" name="blog_subject" placeholder="Subject for Blog" required>
                              <textarea class="form-control" rows="5" id="blog_message" name="blog_message" placeholder="Write Your Blog Here"></textarea>
                              <input type = "file" name="blog_image" id="blog_image" accept ="image/png, image/jpg, image/jpeg" class = "form-control" >
                         </div>
                         <!-- Recptacha -->
                         <div class = "g-recaptcha" data-sitekey ="6Ld8euMfAAAAAEPXBTbjKgL4dbx3pgznOPzvhA99"></div>
                         <!-- End Recaptcha -->
                         <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
                              <div class="section-btn">
                                   <button type="submit" class="form-control" id="cf-submit" name="submit"><span data-hover="Publish Blog">Publish Blog</span></button>
                              </div>
                         </div>
                    </form>
               </div>
     </div>
</section>


<!-- TEAM -->
<section id="team" class="parallax-section">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <!-- SECTION TITLE -->
                    <div class="section-title">
                         <h1>Core Team</h1>
                    </div>
               </div>

               <div class="clearfix"></div>

               <div id="owl-team" class="owl-carousel">
                    <div class="col-md-4 col-sm-4 item">
                         <div class="team-item">
                              <img src="/views/images/Tayyab.png" class="img-responsive" alt="">
                              <!--
                                   <div class="team-overlay">
                                   <ul class="social-icon">
                                        <li><a href="#" class="fa fa-facebook"></a></li>
                                        <li><a href="#" class="fa fa-instagram"></a></li>
                                        <li><a href="#" class="fa fa-twitter"></a></li>
                                   </ul>
                              </div>
                         -->
                         </div>
                         <p>Tayyab Shahid</p>
                         <h3>19F-0911</h3>
                    </div>

                    <div class="col-md-4 col-sm-4 item">
                         <div class="team-item">
                              <img src="/views/images/Shayan.png" class="img-responsive" alt="">
                         </div>
                         <p>Shayan Ilyas</p>
                         <h3>19F-0976</h3>
                    </div>

                    <div class="col-md-4 col-sm-4 item">
                         <div class="team-item">
                              <img src="/views/images/sunny.jpg" class="img-responsive" alt="">
                         </div>
                         <p>Suneel Pirkash</p>
                         <h3>19F-0969</h3>
                    </div>
               </div>

          </div>
     </div>
</section>


<!-- CONTACT -->
<section id="contact" class="parallax-section">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-3 col-md-6 col-sm-12">
                    <div class="section-title">
                         <h1>Contact Us</h1>
                    </div>
               </div>

               <div class="clearfix"></div>

               <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <!-- CONTACT FORM HERE -->
                    <form id="contact-form" action="#" method="get" role="form" onsubmit="return ajaxPost()" autocomplete="off">

                         <!-- IF MAIL SENT SUCCESSFULLY -->
                         <h6 class="text-success">Your message has been sent successfully. </h6>
                         
                         <!-- IF MAIL SENDING UNSUCCESSFULL -->
                         <h6 class="text-danger">E-mail must be valid and message must be longer than 1 character.</h6>

                         <div class="col-md-6 col-sm-6">
                              <input type="text" class="form-control" id="cf-name" name="cf-name" placeholder="Name">
                         </div>

                         <div class="col-md-6 col-sm-6">
                              <input type="email" class="form-control" id="cf-email" name="cf-email" placeholder="Email Address">
                         </div>

                         <div class="col-md-12 col-sm-12">
                              <input type="text" class="form-control" id="cf-subject" name="subject" placeholder="Subject">
                              <textarea class="form-control" rows="5" id="cf-message" name="cf-message" placeholder="Message"></textarea>
                         </div>

                         <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
                              <div class="section-btn">
                                   <button type="submit" class="form-control" id="cf-submit" name="submit"><span data-hover="Send Message">Send Message</span></button>
                              </div>
                         </div>
                    </form>
               </div>

          </div>
     </div>
</section>


<!-- FOOTER -->
<footer style="background-color: lightgray;">
     <div class="container">
          <div class="row">

               <div class="col-md-5 col-sm-6" style="text-align: center;">
                    <img src="/views/images/TB.png" width="50%" height="50%">
                    <h2><b>TECH BLOGGERS</b></h2>
                    <p><b>Here You can read the Blogs related to the Current Technology.</b></p>
               </div>

               <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                    	<h2><b>Keep in Touch</b></h2>
                         <p><a href="tel:010-090-0780"><b>0314-17147714</b></a></p>
                         <p><a href="mailto:info@company.com"><b>TechBlogger@company.com</b></a></p>
                         <p><a href=""><b>Bangla # 209 and 313, FAST NUCES HOSTEL, Loonaywala Stop</b></a></p>
                    </div>
               </div>

               <div class="col-md-3 col-sm-12">
               		
                    <h2><b>About Us</b></h2>
                    <p><b>19F-0911____Tayyab Shahid<br>19F-0976____Shayan Ilyas<br>19F-0969____Suneel Pirkash</b></p>
               </div>
          </div>
     </div>
</footer>
<!--
<script>
  $(document).ready(function(){
    $("g-recaptcha").on('submit',function(event){
      var recaptcha = $("#g-recaptcha-response").val();
      if (recaptcha===""){
        event.preventDefault();
        alert("Please check Recaptcha");
      }
      event.preventDefault();
    })
  })
</script>
-->

<!-- SCRIPTS -->
<script src="/views/js/jquery.js"></script>
<script src="/views/js/bootstrap.min.js"></script>
<script src="/views/js/jquery.parallax.js"></script>
<script src="/views/js/owl.carousel.min.js"></script>
<script src="/views/js/jquery.magnific-popup.min.js"></script>
<script src="/views/js/magnific-popup-options.js"></script>
<script src="/views/js/modernizr.custom.js"></script>
<script src="/views/js/smoothscroll.js"></script>
<script src="/views/js/custom.js"></script>
<script src="/views/js/main.js"></script>

</body>
</html>