<html>
<head>
    <style>
        body {
    font-size: 16px;
    background: #463f3f;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
h2 {
    text-align: center;
    text-decoration: underline;
}
form {
    width: 300px;
    background: rgb(216, 197, 197);
    padding: 15px 40px 40px;
    border: 1px solid #ccc;
    margin: 50px auto 0;
    border-radius: 5px;
}
label {
    display: block;
    margin-bottom: 5px
}
label i {
    color: rgb(233, 48, 48);
    font-size: 90%;
}
input, select {
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
}
.row {
    padding-bottom: 10px;
}
.form-inline label, .form-inline input {
    display: inline-block;
    width: auto;
    padding-right: 15px;
}

input[type="submit"] {
    font-size: 110%;
    font-weight: 100;
    background: #006dcc;
    border-color: #016BC1;
    box-shadow: 0 3px 0 #0165b6;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}
 
    </style>
</head>
<body>
<form name="contactForm" onsubmit="login"  method="post">
    <h2 >Register</h2>
    <div class="row">
        <label>Your Name</label>
        <input type="text" id="name" name="name" placeholder="Ali" maxlength="10" required>
    </div>
    <div class="row">
        <label>Email address</label>
        <input type="email" id ="Email" name="email" placeholder="abc@gmail.com" maxlength="40" required>
    </div>
    <div class="row">
        <label>Password</label>
        <input type="password" id="password" name="password" placeholder="abcd@123" maxlength="20" required>
    </div>
    <div class="row">
        <input type="submit" onclick="login" value="Submit">
    </div>
    <div class = "row">
        <p >Already have account?</p>
        <a href="login">Login</a>     
    </div>
</form>
</body>
</html>